# General
**/sandbox/
.vscode/
.env

# Python
*.pyc
__pycache__/
.mypy_cache/
python/mdex_tool/mdex_save/
python/mdex_tool/logs/
python/notepad/data.json


# C++
**/builds/

# Rust
**/target/
rust/crates/rust_mdex_dl/manga/
rust/crates/rust_mdex_dl/log/
