# General
**/sandbox/
.vscode/
.env

# Python
*.pyc
__pycache__/
python/mdex_tool/mdex_save/
python/mdex_tool/logs/
python/notepad/data.json


# C++
**/builds/

# Rust
rust/target/
rust/crates/rust_mdex_dl/images/
