CompileFlags:
  Compiler: clang
  Add: [
    -Wall,
    -Wconversion,
    -Wextra,
    -Wfloat-equal,
    -Wnull-dereference,
    -Wpedantic,
    -Wshadow,
    -Wsign-conversion,
    -Wstrict-prototypes,
    -std=c23,
    -xc
  ]
