# These style rules are very flexible, mainly
# due to `ColumnLimit` being unlimited. 

# i.e. it may accept two different styles like
# case statements being one-liners or not

# Indentation

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true

# Alignment

PointerAlignment: Left
AlignArrayOfStructures: Left
AlignConsecutiveDeclarations: None

AlignConsecutiveShortCaseStatements: 
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# Allow*

AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# Break*

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakAfterReturnType: Automatic
BreakBeforeBraces: Attach

# Misc.

InsertBraces: true
PackConstructorInitializers: BinPack
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
SpaceAfterCStyleCast: true
