CompileFlags:
  Add: [
    -fdiagnostics-color=always,
    -g,
    -std=c++23,
    -Wall,
    -Wextra,
    -Wshadow,
    -Wconversion,
    -Wsign-conversion,
    -Werror,
    -pedantic-errors
  ]
  Compiler: g++
