CompileFlags:
  Compiler: clang++
  Add: [
    -Wall,
    -Wconversion,
    -Wextra,
    -Wfloat-equal,
    -Wnull-dereference,
    -Wpedantic,
    -Wshadow,
    -Wsign-conversion,
    -std=c++23,
    -xc++
  ]
