# These style rules are very flexible, mainly
# due to `ColumnLimit` being unlimited. 

# i.e. it may accept two different styles like
# case statements being one-liners or not

IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All

PointerAlignment: Left
AlignArrayOfStructures: Left
AlignConsecutiveDeclarations: None

AlignConsecutiveAssignments:
  Enabled: false
  AlignFunctionDeclarations: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveShortCaseStatements: 
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
# InsertBraces: true -- conflicts with option above

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakAfterReturnType: Automatic
BreakBeforeBraces: Attach

# BinPack allows you to break params/args
# at any point (with unlimited `ColumnLimit`)
PackConstructorInitializers: BinPack
BinPackArguments: true
BinPackParameters: BinPack
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false

